body {
  background-color: #cecece;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

/*header, menu opções*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}

/*itens do header*/


#txtSearch {
  float: left;
  background-color: white;
  padding-left: 5px;
  font-size: 18px;
  border: 2px solid;
  height: 40px;
  width: 450px;
  border-radius: 5px 0 0 5px;
}

/*opções do header*/
a {
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin: 10px;
}

#search {
  max-width: 25px;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid;
  height: 47px;
  border-radius: 0 5px 5px 0;
}

#menu {
  margin-left: 5%;
}

#logo {
  max-width: 70px;
  margin: 15px;
}

/*caixa de pesquisa*/
.searchBox {
  display: flex;
  align-items: center;
  margin: 15px;
}

/*destaque do site*/
.destaque {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/*imagens de destaque*/
#barroco,
#gotica {
  width: 100%;
  height: 400px;
}

/*div do titulo em destaque*/
.title {
  margin-top: 50px;
  margin-left: 70px;
  position: absolute;
  z-index: 20;
}

/*div de informações*/
.infosIcons {
  background-color: white;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 80px;
}

/*div dos icons e textos*/
.icones {
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*icones*/
#icon {
  width: 30px;
  height: 30px;
}

/*texto dos icones*/
#txtIcon {
  margin-left: 10px;
  color: black;
}

.subInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
}

.styleArt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border: 5px solid black;
}

#art {
  font-size: 25px;
  cursor: pointer;
  color: black;
  border: none;
  background-color: #cecece;
}

#art:hover {
  color: white;
  border: 2px solid;
  transition: 0.1s;
  border-radius: 0;
}

/* .divFooter {
  border: 2px solid;
} */

footer {
  margin-top: 50px;
  border-top: 2px solid;
  height: 250px;
  background-color: white;
  color: black;
  display: flex;
}

.infoFooter {
  width: 100%;
  height: 275px;
  display: flex;
  place-content: space-around;
}


.divFooter {
  font-style: italic;
  font-size: 15px;
  display: flex;
  width: 100%;
  height: 35px;
  background-color: white;
  color: black;
  justify-content: center;
}


.sobreLoja,
.institucional,
.contato,
.social {
  display: flex;
  flex-direction: column;
}


#instInf {
  font-size: 15px;
}

a {
  text-decoration: none;
}

#iconesContato,
#iconSocial {
  display: flex;
  flex-direction: row;
}


#contatoIcon,
#socialIcon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  margin-top: 15px;
}

/* Carousel */

.carousel-wrapper {
  height: 600px;
  position: relative;
  width: 600px;
  display: block;
  margin: 50px auto;
  border: 2px solid black;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}

.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url('/images_Camisas/arabescos.jpeg');
  background-size: cover;
}

.item-2 {
  background: url('/images_Camisas/catedrais.jpeg');
  background-size: cover;
}

.item-3 {
  background: url('/images_Camisas/espelhoMagico.jpeg');
  background-size: cover;
}

.item-4 {
  background: url('/images_Camisas/vitrais.jpeg');
  background-size: cover;
}


*:target~.item-1 {
  opacity: 0;
}

#item-1:target~.item-1 {
  opacity: 1;

}

#item-2:target~.item-2,
#item-3:target~.item-3,
#item-4:target~.item-4 {
  z-index: 3;
  opacity: 1;
}