body {
  background-color: #cecece;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

/*header, menu opções*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}

/*itens do header*/


#txtSearch {
  float: left;
  background-color: white;
  padding-left: 5px;
  font-size: 18px;
  border: 2px solid;
  height: 40px;
  width: 450px;
  border-radius: 5px 0 0 5px;
}

/*opções do header*/
a {
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin: 10px;
}

#search {
  max-width: 25px;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid;
  height: 47px;
  border-radius: 0 5px 5px 0;
}

#menu {
  margin-left: 5%;
}

#logo {
  max-width: 70px;
  margin: 15px;
}

/*caixa de pesquisa*/
.searchBox {
  display: flex;
  align-items: center;
  margin: 15px;
}

/*destaque do site*/
.destaque {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/*imagens de destaque*/
#barroco,
#gotica {
  width: 100%;
  height: 400px;
}

/*div do titulo em destaque*/
.title {
  margin-top: 50px;
  margin-left: 70px;
  position: absolute;
  z-index: 20;
}

/*div de informações*/
.infosIcons {
  background-color: white;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 80px;
}

/*div dos icons e textos*/
.icones {
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*icones*/
#icon {
  width: 30px;
  height: 30px;
}

/*texto dos icones*/
#txtIcon {
  margin-left: 10px;
  color: black;
}

.subInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
}

.styleArt {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border: 5px solid black;
}

#art {
  color: black;
  border: 2px solid black;
  padding: 15px;
}

footer {
  color: black;
  font-style: italic;
  display: flex;
  justify-content: center;
}